<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}">
{{ if .Site.Params.Description }}
<meta name="description" content="{{ .Site.Params.Description }}">
<meta property="og:description" content="{{ .Site.Params.Description }}">
<meta name="twitter:card" content="{{ .Site.Params.Description }}">
{{ end }}
{{ if .Params.image }}
<meta property="og:image" content="{{ .Params.image | absURL }}">
{{ end }}
{{ if .Params.contenttype }}
<meta property="og:type" content="{{ .Params.contenttype }}">
{{ end }}
